h1, h2{
    color: red;
    font-size: 5em;
}

.styleYellow{
    color: yellow;
}

#opmaak{
    color: yellow;
}

section>h1{
    color: green;
    font-size: 5em;
}

section h1{
    color: green;
    font-size: 5em;
}

section.styleYellow h1{
    color: green;
    font-size: 5em;
}